body {
    margin: 10px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}
h1 {
    font-size: 50px;
    display: flex;
}
h4 {
    font-size: 30px;
}
html {
    box-sizing: border-box;
    padding-bottom: 10px;
    margin-left: 0px;
}
header {
    position: sticky;
    width: 100%;
    background-color: lightgray;
    padding: 20px 120px;
    box-shadow: 0 0 10px 2px #aaa;
    z-index: 100;
    margin-top: 0px;
    margin-left: 0px;
    top: 0px;
    left: 0px;
    

}
